{{define "link-row"}}
<div class="report-row">
  <span class="status-badge {{if eq .StatusCode 0}}error{{else if lt .StatusCode 400}}redirect{{else}}error{{end}}">
    {{if eq .StatusCode 0}}ERR{{else}}{{.StatusCode}}{{end}}
  </span>
  <div class="row-main">
    <span class="row-url" title="{{.TargetLink}}">{{truncate .TargetLink 80}}</span>
    {{if .ErrorMsg}}<span class="row-note">{{.ErrorMsg}}</span>{{end}}
  </div>
</div>
{{end}}
